.akanBody{ 
    background: url("./assets/background.jpg"); 
    background-repeat:no-repeat; 
    margin:20px;

}
.navbar{
    
}
.logo{
    position:relative;
    background-color: white;
    border:1px solid white;
    display:flex;
    justify-content:space-between;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 25px;
    box-shadow:0px 0px 4px 3px grey;
    margin-top:10px;
}
.logo img{
    align-self:center;
    padding:5px;
    border-radius: 30px;
}
.navText{
    display:flex;
    justify-content: space-around;
    padding:20px;
    width:60%;
    border-radius: 30px;
}
.navText > .home{
    font-size:larger;
}
.header{
    text-align:center;
    display:flex;
    justify-content: center;
    padding:10px;
}
.headerTitle{
    border:1px double white;
    width:fit-content;
    color:white;
    background:rgba(0,0,0,0.3);
}
.intro{
    display:flex;
    padding:20px;
}
.akanImage{
    padding:20px;
    border:1px solid white;
    background:rgba(0,0,0,0.3);
}
.akanLine{
    margin:20px;
    border:1px solid white;
}
.akanText{
    color:white;
    padding:20px;
    border:1px solid white;
    background:rgba(0,0,0,0.3);
    font-size:large;
}
.who{
    color:#F15A29;
}
.akanText h2{
    text-align:center;
    padding-bottom: 15px;
}
.halfBody{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;

}
.halfLine{
    border:2px solid white;
    width:80%;
    background-color: white;
    color:red;
    border-radius: 5px;

}
.calculator{
    /* border:1px solid white; */
    color:white;
}
.calculator h1{
    margin-left:auto;
    margin-right:auto;
    background:rgba(0,0,0,0.3);
    padding:20px;
    border:1px solid white;
    width:max-content;
}
.calcBody{
    border:1px solid white;
    width:80%;
    height:max-content;
    padding:20px;
    margin:30px;
    margin-left:auto;
    margin-right:auto;
    background:white;
    box-shadow:0px 0px 4px 3px brown;
}
.nameDetails{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow:0px 0px 2px 2px grey;
    display:flex;
}
.calcDetails{
    color:black; 
}
.calcInput{
    margin-left:20px;
}
.genderBody{
    display:flex;
    justify-content:center;
}
.gender{
    height:max-content;
    position:relative;
    display:inline-block;
    color:black;
    width:70%;
    /* border:1px solid white; */
    box-shadow:0px 0px 2px 2px grey;
    padding-top:20px;
    padding-bottom:20px;
}
#sexBtn, #sexBtn1{
    border:2px solid green;
    /* width:20%; */
    padding:20px;
    font-size:larger;
}
.timeline{
    color:black;
    border:1px solid white;
    display:flex;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    /* padding:20px; */
    box-shadow:0px 0px 2px 2px grey;
    padding-top:20px;
    padding-bottom:20px;
    }
.day, .month, .year{
    border:1px solid white;
    width:max-content;
    height:100%;
    margin-left:20px;
    /* text-align:center; */
}
.day p, .month p, .year p{
    border:1px solid white;
    margin-top:auto;
    margin-bottom:auto;
    box-shadow:0px 0px 2px 2px grey;
    font-size:large;
    padding:5px;
}
.submitBody{
    display:flex;
    /* border:1px solid black; */
    justify-content: center;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    color:black;
    box-shadow:0px 0px 2px 2px grey;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:5px;
}
.calcOutput{
    display:flex;
    /* border:1px solid black; */
    width:70%;
    margin-left:auto;
    margin-right:auto;
    color:black;
    box-shadow:0px 0px 2px 2px grey;
    padding-top:40px;
    padding-bottom:20px;
    justify-content: center;
}
.outputResults{
    /* border:1px solid brown; */
    box-shadow:0px 0px 2px 1px brown;
    width:40%;
    color:black;
    font-size:x-large;
    font-weight:bolder;
    text-align:center;
    margin-left:10px;
}
.btnReply{
    display:flex;
    justify-content: center;
    padding-top:20px;
    
}
.footer{
    text-align:center;
    color:brown;
    font-size:larger;
}